<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <title>TrybeChat</title>
  </head>
  <body>
    <header>
      <h2>Bem-vindos ao TrybeChat</h2>
    </header>

    <main>
      <section>
        <div>
          <h3>Usuários Online:</h3>
          <ul id="users"></ul>
        </div>
        <div>
          <input data-testid="nickname-box" id="input-name" type="text" placeholder="Mude seu Nickname">
          <button data-testid="nickname-button" id="btn-name">Mudar</button>
        </div>
      </section>
  
      <br>

      <section>
        <div>
          <h3>TrybeChat:</h3>
          <input data-testid="message-box" id="input-msg" type="text" placeholder="Digite sua Mensagem">
          <button data-testid="send-button" id="btn-msg">Enviar</button>
        </div>
        <div>
          <ul id='chat'>
            <% messages.forEach((msg) => {%>
              <li data-testid="message">
                <%= msg %>
              </li>
            <%})%>
          </ul>
        </div>
      </section>
    </main>

    <script>
      const socket = io('http://localhost:3000');

      socket.on('onlineUsers', (onlineUsers) => {
        const client = onlineUsers.find(({ id }) => id === socket.id);
        const listUsers = document.getElementById('users');
        listUsers.innerHTML = '';

        const newUser = document.createElement('li');
        newUser.innerText = client.nickname;
        newUser.setAttribute('data-testid', 'online-user');
        newUser.id = 'client';
        listUsers.appendChild(newUser);
        
        onlineUsers.forEach(({ id, nickname }) => {
          if (id !== socket.id) {
            const newUser = document.createElement('li');
            newUser.innerText = nickname;
            newUser.setAttribute('data-testid', 'online-user');
            listUsers.appendChild(newUser);
          }
        });
      });

      const btnChangeName = document.getElementById('btn-name');
      btnChangeName.addEventListener('click', () => {
        const inputNickName = document.getElementById('input-name');
        socket.emit('onlineUsers', { id: socket.id, nickname: inputNickName.value });
        inputNickName.value = '';
      });

      socket.on('message', (msg) => {
        const chat = document.getElementById('chat');
        const newMsg = document.createElement('li');
        newMsg.innerText = msg;
        newMsg.setAttribute('data-testid', 'message');
        chat.appendChild(newMsg);
      });

      const btnSend = document.getElementById('btn-msg');
      btnSend.addEventListener('click', () => {
        const inputMessage = document.getElementById('input-msg');
        const client = document.getElementById('client').innerText;
        const nickname = client;
        const chatMessage = inputMessage.value;
        socket.emit('message', { chatMessage, nickname });
        inputMessage.value = '';
      });
    </script>
  </body>
</html>