<!DOCTYPE html>
<html>
  <head>
    <title>WebChat - Socket.IO</title>
    <link rel="stylesheet" href="./css/chat.css">
  </head>
  <body>
    <h1>Webchat</h1>
    <!-- <header>
      <h1>Webchat</h1>
      <form class="login-form">
        <input data-testid="nickname-box" type="text" name="nickname" id="input-nickname" placeholder="Insira seu nickname">
        <button data-testid="nickname-button" type="submit" id="btn-nickname">Salvar</button>
      </form>
    </header>
    <div class="chat-container">
      <div class="user-list-container">
        <h3>Usuários Online</h3>
        <hr>
        <ul id="user-list"></ul>
      </div>
      <div class="message-container">
        <h3>Mensagens</h3>
        <hr>
        <ul id="message-list">
          <% if (messages && messages.length > 0) { %>
            <% messages.forEach(({ message, nickname, timestamp }) => { %>
              <li data-testid="message"><%= `${timestamp} ${nickname} >> ${message}` %> </li>
            <% }) %>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="new-message-container">
      <form>
        <input data-testid="message-box" type="text" name="message" id="input-message" placeholder="Digite uma nova mensagem aqui">
        <button data-testid="send-button" type="submit" id="btn-message">Enviar</button>
      </form>
    </div> -->
    
    <script src="/socket.io/socket.io.js"></script>
    <script src='./js/chat.js'></script>
  </body>
</html>